#articles-nav {
    .search-container {
        margin: 0;
        height: 100%;

        input {
            border-radius: 4px;
            height: 100%;
            font-size: 12px !important;
            padding: 0 8px;
        }

        button, svg {
            display: none;
        }
    }
}